.pictures {
    display: inline-block;
}

.picture img {
    width: 400px;
}

.exif-list li {
    margin-bottom: 1rem;
    font-size: larger;
}

nav a{

    background-color: aquamarine;
    text-decoration: none;
    margin-left: 500px;


}