{% extends 'base.html' %}

{% block title %} Add Picture Form {% endblock title %}

{% block content%}

<div class="add-form">
  <h2>Add a picture!</h2>
  <form action="/add" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
      <div>
        <label>{{field.label.text}}</label>
        {{ field(placeholder=field.label.text, class="form-control") }}

      </div>
    {% endfor %}
    <div><button type="submit">Click Here!</button></div>
  </form>
</div>

{% endblock content%}

