{% extends 'base.html' %}

{% block title %} Add Picture Form {% endblock title %}

{% block content%}

<form action="/add" method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}

  {% for field in form if field.widget.input_type != 'hidden' %}
    {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
    {% endfor %}
    {{ field(placeholder=field.label.text, class="form-control") }}
  {% endfor %}
  <button type="submit">Click Here!</button>
</form>

{% endblock content%}

